<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8"/>
  <title>Lastgangsdarstellung</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Reformat table headers for two rows */
    .table .th-t {
      padding-bottom: 0;
      border-bottom-width: 0;
    }

    .table .th-b {
      padding-top: 0;
      border-top-width: 0;
    }

    /* Style the table highlighting */
    .table-hover tbody tr:hover td {
      background-color: #ff8000;
      color: #ffffff;
      font-weight: bold;
    }
  </style>
  <!-- Include required CSS files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
<!-- Header -->
<nav class="navbar d-md-none navbar-dark bg-dark shadow">
  <!--<button class="navbar-toggler" type="button" data-toggle="dropdown">
    <span class="navbar-toggler-icon"></span>
  </button>-->
  <a class="navbar-brand p-0 m-0" href="#">
    <img src="{{ url_for('static', filename='favicon.png') }}" width="40" height="40" class="d-inline-block align-top"
         alt="">
  </a>
  {% if g.data is defined %}
    <div class="btn-toolbar d-md-none mb-1">
      {% include 'toolbar.html' %}
    </div>
  {% endif %}
</nav>
<img class="d-none d-md-block p-0" src="{{ url_for('static', filename='header.png') }}" alt="logo.png" width="100%"/>
<!-- Content -->
<main class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <!-- Header -->
      <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">Lastgang</h3>
        {% if g.data is defined %}
          <div class="btn-toolbar mb-2 mb-md-0">
            <!-- Options buttons -->
            {% if g.mode == 'day' %}
            <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
              <label class="btn btn-icon btn-outline-secondary active">
                <input type="radio" name="res" value=15 checked>
                <span class="d-md-none">15</span>
                <span class="d-none d-md-block">15 min</span>
              </label>
              <label class="btn btn-icon btn-outline-secondary">
                <input type="radio" name="res" value=60>
                <span class="d-md-none">60</span>
                <span class="d-none d-md-block">60 min</span>
              </label>
            </div>
            {% endif %}
            <div class="btn-group">
              <button type="button" class="btn btn-icon btn-outline-secondary" id="priceModalButton" data-toggle="modal" data-target="#priceModal">
                <i class="d-md-none fas fa-money-bill-wave"></i>
                <span class="d-none d-md-block"><i class="mr-2 fas fa-money-bill-wave"></i>Preis anpassen</span>
              </button>
              <button type="button" class="btn btn-icon btn-outline-secondary" id="meterReadingsButton" data-toggle="button">
                <i class="d-md-none fas fa-chart-area"></i>
                <span class="d-none d-md-block"><i class="mr-2 fas fa-chart-area"></i>Zählerstand</span>
              </button>
            </div>
            <!-- Query button -->
            <div class="d-none d-md-block ml-2">
              {% include 'toolbar.html' %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="row justify-content-center">
    <div class="col-lg-11">
      {% block content_main %}{% endblock %}
    </div>
  </div>
</main>
{% include 'query_modal.html' %}
<!-- Scripts -->
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<!-- Custom -->
{% block content_js %}{% endblock %}
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>