{% extends 'base.html' %}

{% block content %}
  <!-- Title -->
  <div class="card card-body p-2">
    <h4 class="card-text text-center">
                            <span id="prev"><button type="button" id="prevButton" onclick="decreaseDate()"
                                                    style="background-color:transparent; border-color:transparent;">
                                <i class="fas fa-angle-left"></i>
                            </button></span>
      <span id="title"></span>
      <span id="next"><button type="button" id="nextButton" onclick="increaseDate()"
                              style="background-color:transparent; border-color:transparent;">
                                <i class="fas fa-angle-right"></i>
                            </button></span>
    </h4>
    <p id="userInfo" class="lead text-center p-0 m-0">User</p>
  </div>
  <!-- Chart -->
  <div class="card my-2">
    <div class="card-img-top">
      <canvas id="chart" class="card-text m-0"></canvas>
    </div>
  </div>
  <!-- Statistics -->
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Statistische Daten</h5>
      <div class="row" id="statData"></div>
    </div>
  </div>
  <!-- Table -->
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">Zählwerte</h5>
      <div id="dataTable" class="card-text table-responsive"></div>
    </div>
  </div>
{% endblock %}