{% extends 'base.html' %}

{% block content %}
  <div class="list-group" id="meterSelection">
    {% for meter in meters %}
      <button type="button" class="list-group-item list-group-item-action meter" id="{{ meter.id }}">
        {{ meter.id }}<br>
        {{ meter.firstname }} {{ meter.lastname }}<br>
        {{ meter.zipcode }}, {{ meter.city }}<br>
        Min: {{ meter.min }}<br>
        Max: {{ meter.max }}
      </button>
    {% endfor %}
  </div>
{% endblock %}

{% block contentjs %}
  <script>
      function setMeterButtonEvents() {
          const meterButtonList = document.getElementsByClassName('meter');
          for (let meterButton of meterButtonList) {
              // Cannot use arrow function as "this" represents the function owner, not the function caller
              meterButton.onclick = function () {
                  document.getElementById('showModalButton').click();
                  document.getElementById('meterSelector').value = this.id;
                  setSelectorRanges();    // Manual invocation as changing the value doesn't trigger the onchange event
              }
          }
      }

      setMeterButtonEvents();
  </script>
{% endblock %}
