<div class="row">
  <div class="col-lg col-md-6 col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <p class="card-title lead">Gesamtverbrauch</p>
        <strong><p class="card-text">{{ g.data['sum'] }} kWh</p></strong>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-6 col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <p class="card-title lead">Durchschnittsverbrauch</p>
        <strong><p class="card-text">{{ g.data['avg'] }} kWh</p></strong>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <p class="card-title lead">Minimalverbrauch</p>
        <strong><p class="card-text">{{ g.data['min'] }} kWh</p></strong>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-6 mb-3">
    <div class="card">
      <div class="card-body">
        <p class="card-title lead">Maximalverbrauch</p>
        <strong><p class="card-text">{{ g.data['max'] }} kWh</p></strong>
      </div>
    </div>
  </div>
  <div class="col-lg col-md-4 col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <p class="card-title lead">Gesamtkosten</p>
        <strong><p class="card-text" id="cost">-,-- €</p></strong>
      </div>
    </div>
  </div>
</div>