<table class="table table-striped table-sm table-hover text-center">
  <tr class="d-flex">
    <th class="col">{{ tbl_title }}</th>
    <th class="col">Lastgang [{{ unit }}]</th>
    <th class="col">Zählerstand [kWh]</th>
    <th class="col">Kosten [€]</th>
  </tr>
  {% for meter in g.data['meter_data'] %}
    <tr class="d-flex">
      {% if g.fmt == 'day' %}
        <td class="col">{{ meter.datetime|datetime('day') }}</td>
      {% elif g.fmt == 'month' %}
        <td class="col">{{ meter.datetime|datetime('month') }}</td>
      {% else %}
        <td class="col">{{ meter.datetime|datetime }}</td>
      {% endif %}
      <td class="col diff">{{ meter.diff }}</td>
      <td class="col">{{ meter.reading }}</td>
      <td class="col cost">-,--</td>
    </tr>
  {% endfor %}
</table>